<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#adminNavBar">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">学生选课系统 - 管理后台</a>
    </div>
    <div class="collapse navbar-collapse" id="adminNavBar">
      <ul class="nav navbar-nav">
        <li><a href="/admin">管理课程信息</a></li>
        <li><a href="/tmanage">管理教师信息</a></li>
        <li><a href="/gmanage">成绩登记</a></li>
        <li><a href="/smanage">管理学生信息</a></li>
        <li><a href="/logout">登出</a></li>
      </ul>
    </div>
  </div>
</nav>